.card_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    
}
.boards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
    width: 100%;
}
.color-box {
    width: 7rem;
    height: calc(100vh - 85vh);
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.card_content h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    text-decoration: none;
}

.card {
    width: 70%;
    border: 1px dashed black;
    text-decoration: none;
}

.icon-menu {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .boards {
        grid-template-columns: 1fr 1fr;
    }
}